POSTGRES_USER=appuser
POSTGRES_PASSWORD=change_me
POSTGRES_DB=appdb
DATABASE_URL=postgresql+asyncpg://appuser:change_me@db:5432/appdb
TEST_DATABASE_URL=postgresql+asyncpg://appuser:change_me@db:5432/appdb_test
JWT_SECRET=change_me
ENCRYPTION_KEY=generate_with_fernet
JWT_REFRESH_EXPIRE_DAYS=30
COOKIE_SECURE=false
COOKIE_DOMAIN=
TRIAL_PERIOD_DAYS=30
SUBSCRIPTION_PERIOD_DAYS=30
SUBSCRIPTION_PRICE_RUB=990
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL=https://my-app-frontend-biz.pages.dev/pricing

# Yandex OAuth (Яндекс ID)
YANDEX_OAUTH_CLIENT_ID=791278b1f1ed4af1ad481d49cc87e6b9
YANDEX_OAUTH_CLIENT_SECRET=36f9c7083ac84da297777d77dd47a465
YANDEX_OAUTH_REDIRECT_URI=https://api.agregators.su/auth/yandex/callback
